<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="amgn.amu.mapper.ListingsMapper">
  
  <select id="getLists" parameterType="amgn.amu.dto.SearchDto" resultType="amgn.amu.dto.ListingsDto">
  		select title, description, price, seller_id, category_id
  				, (select url from listing_photos p where  l.listing_id = p.listing_id and rownum=1) url
  		from listings l
  		<where>
      <!-- 🔍 검색 조건 -->
      <if test="searchField != null and searchField != '' and searchWord != null and searchWord != ''">
        <foreach collection="searchField.split('/')" item="field" open="(" close=")" separator="OR">
          ${field} LIKE '%' || #{searchWord} || '%'
        </foreach>
      </if>

      <!-- 📌 카테고리 필터 -->
      <if test="categoryId != null">
        AND category_id in (  select category_id from categories
                                start with category_id=#{categoryId}
                                connect by prior category_id = parent_id)
        
      </if>
    </where>
    ORDER BY created_at DESC
    OFFSET (#{pageNo} - 1) * #{amount} ROWS 
    FETCH NEXT #{amount} ROWS ONLY

  </select>
  	<select id="getTotalCount" parameterType="amgn.amu.dto.SearchDto" resultType="int">
	    SELECT COUNT(*)
	    FROM listings
	   <where>
      <!-- 🔍 검색 조건 -->
      <if test="searchField != null and searchField != '' and searchWord != null and searchWord != ''">
        <foreach collection="searchField.split('/')" item="field" open="(" close=")" separator="OR">
          ${field} LIKE '%' || #{searchWord} || '%'
        </foreach>
      </if>

      <!-- 📌 카테고리 필터 -->
      <if test="categoryId != null">
        AND category_id in (  select category_id from categories
                                start with category_id=#{categoryId}
                                connect by prior category_id = parent_id)
        
      </if>
    </where>
	  </select>
	  <select id="getSubCategoryList" resultType="amgn.amu.dto.CategoryListDto">
	   select name from categories
        where level between 1 and 2
        start with category_id= #{categoryId}
        connect by prior category_id = parent_id
	  </select>
	 
  </mapper>