<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amgn.amu.mapper.OauthIdentityMapper">

    <resultMap id="UserMfaTotp" type="amgn.amu.entity.OauthIdentity">
        <id property="oauthId" column="oauth_id" />
        <result property="userId" column="user_id" />
        <result property="provider" column="provider" />
        <result property="providerUserId" column="provider_user_id" />
        <result property="email" column="email" />
        <result property="displayName" column="display_name" />
        <result property="accessToken" column="access_token"/>
        <result property="refreshToken" column="refresh_token"/>
        <result property="tokenExpiresAt" column="token_expires_at"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findUserByProvider" resultType="amgn.amu.domain.User">
        SELECT U.*
        FROM OAUTH_IDENTITIES OI
        JOIN USERS U ON U.USER_ID = OI.USER_ID
        WHERE OI.PROVIDER = #{provider}
        AND OI.PROVIDER_USER_ID = #{pid}
        LIMIT 1
    </select>

    <select id="findByProvider" resultType="amgn.amu.entity.OauthIdentity">
        SELECT *
        FROM OAUTH_IDENTITES
        WHERE PROVIDER = #{provider}
        AND PROVIDER_USER_ID = #{pid}
        LIMIT 1
    </select>

    <insert id="insertLink" parameterType="amgn.amu.entity.OauthIdentity"
            useGeneratedKeys="true" keyProperty="oauthId">
        INSERT INTO OAUTH_IDENTITIES
                (USER_ID, PROVIDER, PROVIDER_USER_ID, EMAIL, DISPLAY_NAME, ACCESS_TOKEN,
                 REFRESH_TOKEN, TOKEN_EXPRIES_AT, CREATED_AT, UPDATED_AT)
        VALUES
            (#{userId}, #{provider}, #{providerUserId}, #{email}, #{displayName}, #{accessToken}, #{refreshToken}, #{tokenExpiresAt}, NOW(), NOW())
            ON DUPLICATE KEY UPDATE
                                 email=VALUES(email),
                                 display_name=VALUES(display_name),
                                 access_token=VALUES(access_token),
                                 refresh_token=VALUES(refresh_token),
                                 token_expires_at=VALUES(token_expires_at),
                                 updated_at=NOW()
    </insert>

    <update id="updateTokens" parameterType="amgn.amu.entity.OauthIdentity">
        UPDATE oauth_identities
        SET access_token = #{accessToken},
            refresh_token = #{refreshToken},
            token_expires_at = #{tokenExpiresAt},
            updated_at = NOW()
        WHERE provider = #{provider} AND provider_user_id = #{providerUserId}
    </update>
</mapper>