<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="amgn.amu.mapper.UserMapper">

    <resultMap id="UserMap" type="amgn.amu.domain.User">
        <id property="userId" column="USER_ID"/>
        <result property="loginId" column="LOGIN_ID"/>
        <result property="passwordHash" column="PASSWORD_HASH"/>
        <result property="userName" column="USER_NAME"/>
        <result property="email" column="EMAIL"/>
        <result property="userName" column="USER_NAME"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="gender" column="GENDER"/>
        <result property="phoneNumber" column="PHONE_NUMBER"/>
        <result property="birthYear" column="BIRTH_YEAR"/>
        <result property="birthMonth" column="BIRTH_MONTH"/>
        <result property="birthDay" column="BIRTH_DAY"/>
        <result property="province" column="PROVINCE"/>
        <result property="city" column="CITY"/>
        <result property="detailAddress" column="DETAIL_ADDRESS"/>
        <result property="status" column="STATUS"/>
        <result property="createdAt" column="CREATED_AT" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result property="updatedAt" column="UPDATED_AT"/>
    </resultMap>

    <select id="existsByLoginId" resultType="boolean">
        SELECT CASE WHEN COUNT(*)>0 THEN 1 ELSE 0 END
        FROM USERS WHERE LOGIN_ID = #{loginId}
    </select>

    <select id="existsByEmail" resultType="boolean">
        SELECT CASE WHEN COUNT(*)>0 THEN 1 ELSE 0 END
        FROM USERS WHERE EMAIL = #{email}
    </select>

    <select id="existsByPhone" resultType="boolean">
        SELECT CASE WHEN COUNT(*)>0 THEN 1 ELSE 0 END
        FROM USERS WHERE PHONE_NUMBER = #{phoneNumber}
    </select>

    <select id="findByLoginId" resultMap="UserMap">
        SELECT * FROM USERS WHERE LOGIN_ID = #{loginId}
    </select>

    <insert id="insert"
            parameterType="amgn.amu.domain.User"
            useGeneratedKeys="true"
            keyProperty="userId"
            keyColumn="user_id">
        INSERT INTO USERS (
        LOGIN_ID, PASSWORD_HASH, USER_NAME, EMAIL, NICK_NAME, GENDER, PHONE_NUMBER,
        BIRTH_YEAR, BIRTH_MONTH, BIRTH_DAY, STATUS
        ) VALUES (
        #{loginId}, #{passwordHash}, #{userName},#{email}, #{nickName}, #{gender}, #{phoneNumber},
        #{birthYear}, #{birthMonth}, #{birthDay}, 'ACTIVE'
        )
    </insert>

    <select id="findByEmail" resultType="amgn.amu.domain.User">
        SELECT * FROM USERS WHERE EMAIL = #{email}
    </select>

    <insert id="createSocialUser" parameterType="amgn.amu.domain.User"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO USERS (LOGIN_ID, PASSWORD_HASH, EMAIL, USER_NAME, STATUS, CREATED_AT)
        VALUES (CONCAT('SOC_', UUID()), NULL, #{email}, #{userName}, 'ACTIVE', NOW())
    </insert>
</mapper>